@inherits LayoutComponentBase


<div class="page">
    <div class="home"><img class="logo" src="/images/logo.svg" /></div>
    <div class="sidebar">
        <NavMenu />
    </div>
        <div class="toprow">
@*            <a href="..." target="_blank">About</a>*@
        </div>
        <div class="voyage">
         <div class="col">
            <div class="row">
            <CompassComponent ></CompassComponent>
        </div>
        <br/>
            <div class="row">
            <DepthComponent></DepthComponent>
        </div>
        </div>
        </div>
        <div class="body">
            @Body
        </div>
</div>
