/*.navbar-toggler {
    background-color: darkslategrey;
}*/

.top-row {
    height: 3.5rem;
    background-color: darkslategrey;
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.neon-button {
    font-size: 0.7rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: turquoise;
    border: turquoise 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 turquoise, 0 0 0.5em 0 turquoise;
    position: relative;
}

    .neon-button:hover,
    .neon-button:focus {
        text-shadow: none;
    }

        .neon-button:hover::before,
        .neon-button:focus::before {
            opacity: 1;
        }

        .neon-button:hover::after,
        .neon-button:focus::after {
            opacity: 1;
        }


.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item ::deep a.active {
    background-color: slategrey;
    color: white;
}

.nav-item ::deep a:hover {
    background-color: darkturquoise;
    color: white;
}

@media (min-width: 640px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
