<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bliss.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bliss.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bliss.AppSettings>
            <setting name="DashBoardUpdateInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>Bliss</value>
            </setting>
            <setting name="DBLocation" serializeAs="String">
                <value>D:\FollowTheSun</value>
            </setting>
            <setting name="APCruise" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="APTurnVelocity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="APDeviationAlarm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PilotSpeedIncrement" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PilotMaxPower" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpeedUpdateInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="GPSAverageCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PilotMinPower" serializeAs="String">
                <value>-50</value>
            </setting>
            <setting name="PilotCancelTurn" serializeAs="String">
                <value>5000</value>
            </setting>
        </Bliss.AppSettings>
    </userSettings>
    <applicationSettings>
        <Bliss.AppSettings>
            <setting name="GoogleMapApiKey" serializeAs="String">
                <value />
            </setting>
        </Bliss.AppSettings>
    </applicationSettings>
</configuration>