@using System.Text
<div class="widget">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg
   width="57.259357mm"
   height="57.667068mm"
   viewBox="0 0 57.259357 57.667067"
   version="1.1"
   id="svg2777"
   inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
   sodipodi:docname="depthfull.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview2779"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="0.73851712"
     inkscape:cx="197.69345"
     inkscape:cy="171.96622"
     inkscape:window-width="1920"
     inkscape:window-height="1009"
     inkscape:window-x="-8"
     inkscape:window-y="-8"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs2774">
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient5494"
       id="linearGradient3119"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0.24985662,0,0,0.24985662,-714.18252,15.824275)"
       x1="341.19"
       y1="150.48"
       x2="666.14001"
       y2="435.01999" />
    <linearGradient
       id="linearGradient5494"
       y2="435.01999"
       gradientUnits="userSpaceOnUse"
       x2="666.14001"
       y1="150.48"
       x1="341.19"
       inkscape:collect="always"
       gradientTransform="matrix(0.24985662,0,0,0.24985662,-714.18252,15.824275)">
      <stop
         id="stop5490"
         style="stop-color:#72cccf"
         offset="0" />
      <stop
         id="stop5492"
         style="stop-color:#207a87"
         offset="1" />
    </linearGradient>
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-52.696018,-103.15679)">
    <g
       id="g1483"
       transform="matrix(0.51527273,0,0,0.51894171,384.96204,85.335053)"
       style="fill:#ffffff"
       inkscape:export-filename="..\Resources\DepthGuage.png"
       inkscape:export-xdpi="96.901176"
       inkscape:export-ydpi="96.901176">
      <circle
         id="path5486"
         style="fill:#ffffff;stroke:url(#linearGradient3119);stroke-width:2.64573;stroke-linecap:round;stroke-linejoin:round"
         cx="-589.27307"
         cy="89.90464"
         r="54.239319" />
      <ellipse
         id="path5744-2"
         style="fill:#ffffff;stroke-width:0.192855"
         cx="-561.79144"
         cy="117.21442"
         rx="12.344231"
         ry="11.377028" />
    </g>
    <image
       width="17.603741"
       height="18.11281"
       preserveAspectRatio="none"
       xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWgAAAFoCAIAAAD1h/aCAAAAA3NCSVQICAjb4U/gAAAgAElEQVR4 nO3de3BU1eEH8HP3vZsHgchTBMRCEBwsarUjEbRqp1VnRGur1kdttbXWcTq+aDujjsU6ovU5ijM6 tLXQKTrFKYO2KigCWoUmDBW0JEjCIwmPvCCb3b177+699/fHt3t+l90kcHCT7C7fzx/Mstls7t69 93vP656jOY4jiIhUeIZ7A4io+DA4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4 iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZ g4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OI lDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4 iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZ g4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OI lDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4 iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZ g4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OI lDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlDE4iEgZg4OIlPmGewOISpnjOHl5H03T8vI++aLl 64MR0cmDJQ6iQcQSBxHR/7BxlIiUsapCNIhKtarC4CAaRLZt5+V9vF5vXt4nXxgcRIPI4ynN1gA2 jhINrldffXX79u2apmma5vV6vV5vMpn0+/3u18iaiGVZ6XQ6GAymUimv1+v3+3Vdr6ysvPbaa889 99x0Ou3z+YQQjuNommbb9nAFE4ODaBA99NBDjz/+eHl5eSwW83g8tm1XVlZGo9HcVyI7HMdBrcS2 baSDx+OxLOuiiy566623ysrKhBDIDtM0A4HA0H6a/1ea5SiiArFx48ZRo0YhNUaMGCGEiEajwWDQ dzS/348HQggkhdfrDYVCwWAQYbFp0yZd1z0ejyybDO8ln8FBNIjmzZvX3d0dDAZt2z58+DCiIZVK pY+WyhBCoD4SCoVM00wmk4ZhhMPh+++/v6qqyuPxeL1evAzvOVyfi1UVokGUSqVuuOGG1atXe71e wzA8Ho/P5zNNM6ttQpYjvF6vaZqapjmO4/f7Z86cuWDBgmuvvXbq1Knl5eV4Q6/Xi19HXWboP5Rg cBANtvb29tNPP90wDE3T0un0wC8OBoOGYUyZMuWKK66444475syZk/WCeDyOyothGMFgcLA2+lhY VSEaROl0esyYMVdffTWaLUAI4cmBHxmGcf/992/cuHHJkiVz5szRdf3w4cNCCMMwZA0F7zy8Q8I4 joNoEHk8nlQqlUwmhRCoqti2jZ7UPl//7LPP3n777ZWVlaiwhMPhcDgshAgGg5ZlWZbl8/kMw/D7 /YFAgFUVoqIn6w4oXODfZDLZ3d09c+bMnp4eNExg8AWCw+/3oxyhaZrP5/vpT3/64osv4r+FNsY8 C6sqRPmBURWGYaDjw+v1xmKxUCj0wAMP9PT0eL1e27Zt2/b5fEgN2T+CssOUKVN++ctfiuGugxwn BgdRfqDhE00Yfr8/kUiUl5e/+uqrK1aswNAMj8fj9/tl+6gs7JumKYS48cYbp0+fPkzbroxVFaL8 SCQSkUgEjw3DCAQCu3btqq2t7ezs9Pv9hmEIIXw+XzqdRm+rEAJ1Fq/XW1VVtWnTptNPPx3VmcIv dLDEQZQHjuOgFVMIgSqJpmkLFy5sb29HDysSAYO7kBqos2Bkx/XXX3/GGWcU2i2wA2BwEOVBKpVC MQEZEQ6Hn3322VWrVgWDQV3XhRC2bSNZLMsSQqDJQwgRDAZN0/zZz34mSxm5xY0CrBYwOIjyQN54 htN+8+bNjz32mBACNRRZGEFxQ3avBAIB0zS/853vnH322XhxUaSGYBsHUb7gdlXHcVKp1FVXXbV2 7VpN04LBYDKZDAQCGIUhMu0a+BV0x9bX15977rm6rst8ccMZWmitHixx0P/mgBj4jqlUKjXwNcZx HNTtB/5bjuMU+7UKuyv3yUAggCLDM888s3btWiEExnEIIUzTRGqIzJxgCIJUKnXppZeee+65Qohw OIze2SyFOaaDJY6Tl23blmVlzSjj5j7JUbqWl005dNqyLMwZkfWLovAuknmRSqWy9pjjOBjQie6S urq6yy67LB6PV1RU9Pb29vc+oVAomUxqmrZmzZra2lq/3+/1eodxJKgqBgcJx3HS6TRul8DR7573 YeBflNPP4LH8LVxXcwOlz7ctohNGzsGVlZjyI5xzzjlbt25F4wX6UwZ4t29+85sff/yx4zg+ny83 kgoZ71U5qaFygYFJeAatd5ZlYQYqkSkqo3zhDgiEi/yvTJB0Om1ZVigUyv1z/aXGIH7CfJOpYds2 dhp2YDweLy8vX7hw4X/+859AIIBKx8Cp4fP57rzzzlQqhX1VXPuBJY6TVDKZlOc2Tv50Oq3reigU QtHD/eKsqgeiAS/LKmgM0ClQLGWKY3IXptDe4fV6fT7funXrLr30UiGEnO9PDvTKomlaIBA47bTT tm7dGgqFfD4fvg7c3jLEH+fEsMRxkgqFQo7jmKZp2zYSJJlMdnR07Ny5s7e3t7u7W9d1v98/evTo 8ePHjxw5csSIEZFIpKKiIhAIYCKZrLlkcAphykyfzycLIPI18l9sQPHmCO43EUJYluU4Dm5sMwzj zjvvLCsrS6VSaApFK0bur8vhHj/+8Y8xN498kyLC4DhJoUbt9/t37Njx3nvvrVmzZvv27d3d3e5j XXOpqqoqKyurrq4eO3bshAkTTjvttIkTJ1ZXV9fU1FRWVo4cOTISiaAAgl/EgChUZzweD56XfS7F mxri6HtM0IEai8V+9atftbW1YawXOlkHSA0hxOTJk2+99VZx9JzDxVLcEAyOk1YymVy+fPkf//jH LVu2yENcO5q7h7Wzs7Ozs3Pv3r3uN0EuVFVVjR8//tRTT508efL06dNramomTJhQU1ODogcuzpiB AgOxZWGkSONDxh/O897e3rq6updfftnj8aCUgdAcYNINIcSNN944ceJEWWFE43QRLcLCNo7ShHMe M0phDBLqJpqmxePx5cuXP/HEEwcPHsR9mZgkBpNcYsS0+y4skWnyxDtj5gghhBx04B7RJP87bty4 8ePHz5gx46yzzjrzzDOnTZs2adKkyspKd3OJ7Mg85mcRhVRIQQuxvOH10KFDtbW1TU1Nfb7YPeMG PkgwGAwEAg0NDVVVVbgpzt05VTgfc2AMjtKRSqVwzqfTaZR+0diG571eb09Pz1//+tfnnntu165d aIzAfDNybJLIFCJkl4qEHgR3GUQ2AeKnuGXLNE3ZloGWDpw2FRUVp5566tixY+fPnz958uTZs2fP mDEDNXxM821ZVjAYlPPf4PwxTTOdTuPscj8eXhjiiSFzgUDg5z//+dKlS9370A27Ar2zGOshhPjF L37x9NNPh0IhuauLqJICDI7SZNt2Op32+/2apqFYsWzZst///vdNTU22bQeDQY/Ho+s6TnKfz1dV VTVt2rRp06ZNnDixoqICp3R3d/eePXt27tzZ1ta2e/du+eZoHEVTaJ9/XXbuuosqkqZpkUhk7Nix NTU1F1xwwbx582bNmjVmzBiU8FEAMQzD5/PJpYmEa0jIMC5fJlyFAgzoWLly5fe///2Bf0Xmhcis aVBfXz979mw8g4EzsrebJQ4aUig/47ImL/6hUCgejy9btmzJkiVffPGFECIUCuFHuLaPHTv28ssv X7Bgwfnnnz9u3Di/3591Wtq2jUVA9u3bt3v37s2bN3/00Ufbtm3r6uoSQgQCAbwelQ656kdWzcXv 96Nsgp5LlFnkgRcKhSKRyJw5cy699NIrrrhi+vTpaHG0bRvjL4UQCCmcYMN7aqFAhI1paWmpra1t aWkZ+CSSVTmfz2dZ1jXXXPPmm2+iuUcIIe95E67RZUXAoVKBs9E0zWg06jhOV1fXsmXLampqMJu+ XBMMjydNmrRo0aIDBw7gF1HFcBwnmUyapmmapmEY6FbEyHTHcdBTkE6ne3p61q9ff99995133nkY K511MssG0ayigZylxu/3RyKRSCSSdZ5omnbeeec99dRTO3fudG+P/IzYtiHesVlM00wkEo7j/OAH PxBCVFdXD3B+ofCFj4m6ycaNG/Em2Ktuuc8ULAZHicChrOt6Op02TfMPf/hDTU2NyLT8uxcZnThx 4qOPPtrV1YWgSaVShmHgTWKxmHxDtH3I/+LF8jEaJmzbbmhoWLRoEfpQAoFAJBLBwoXuLHCPEMut zGMmm/LycrwMZ1ooFLrhhhvefvttwzAsy0qlUolEQm7D8GYHij9Lly7Fdg58YZYfGfvkkksuke8g yWguIgyOEoG7Vw3DWLZs2YwZMzRNcy9QjDbFysrK++6777///S9+xTAMXdezDlm8jxtqK2iblM/I cxiB5TjOxo0bb775ZvwhdExmpQOKG7IM0mfvYyAQcGdcMBj81re+tWLFCvzpaDSaTCadYQ2OdDpt GMauXbswdAXbOXD9Ap8IzUarVq1yckoW7v1ZLBgcJcI0zaVLl86aNQvHMa7bgUAA13MhxE9+8pNd u3ahcJGbF5BVxDjm0YwX4FzC46ampgceeACrKwshMMZMBsQAzRPuEMlty7j44ovfe+89/FEZVcMC H/PKK6/EBh/nevF42de//nX5DihlFF1BQ2JwFA30WaJEgMoCukVM01y+fPmMGTPcxygOa0TGj370 o/r6epkClmXJukm+yA1zHCeRSBw4cOCOO+6Qp43sZMmtp8iukwGgkB8IBG677bbt27c7jpNMJrEH ZCF/MK7Y7nIN9tiRI0ds23755ZdF5n6T3NTL/YDyBX/+85+LPS8kBkfh0nVdnuHuQ62npwfNn47j vP7667NmzcKICdmygJ4IIURtbe2mTZsOHjyI6kYsFst7IV/WX+QWWpYVj8eTyeTatWvPO+88GWfo c0GLaVZYDFDUd9/5IoSYMGHCM888gz+USqUG7wyUBS7btmVAO46zbdu26upqWY47njYOTdNCodCk SZN6enrcCVvUGBwFCpV5x3HS6bT7Yo6j2TCMv//976iYyHqB1+uVjy+66KI333zT/Ybua3Ie48Pd 8JF1GluWlUgk7rzzTnfBQZ5L7hbTAYJDXswrKyvRplBRUTF37twtW7ZgPxw5csTJaW786rCLUKiR z+i6jlEb7g0+Zm0FH+HJJ5+Ub14C2cHgKFw48XAEW5aF656u66tXr5ZtGciLYDAo2zXOPPPMv/zl LyjMozNC13XcBSvfOY8FexkWsu4gn0cfjW3br7zyCrYTWyiz4HjqKUicrBluPB7P1KlTV65cKds7 ent78/WJ3J9Lvm08HnccZ/HixYgw4ap2uQtEfaaG3++vqqrq6OiQF4O8VxWHHoOjcMnrEh709PT8 7W9/O/vss3EGBgKBYDCIsVI4iE855RRZjMeBnlsEGJprnbzF3nGcjo4Ox3HeeustVDr8fj/GreK8 cpc7jgk9vngfPPPb3/5Wflh3X3JeyHIZ4uPTTz9FoQkbj+KPu0Wpv+AQQjzwwAP4LkogMoDBUaBw sBqGgTPw9ddfP+ecc+RMn7LYjyaDUaNGPf744yi0y+YPmR1yOi/Ie+Ncbv8L/osikpNp9VixYoX7 dJIn2zELHfLefBkxfr+/rKwMxZAFCxaYpomLeR4rLHJQHHZjPB6/+OKLZV5IcqhbfxuPBo6mpiZ3 I27Rdb7mYnAULtu2DcNYuXLlnDlzEBY42ZAaGFoeiUTuueeetrY2nDMYAOa+4IOcx1y+c363M/cN UbSRgyxxpX300UerqqpwRslmxYEHQbiHn2K8qQwaFF6CweDcuXNbW1uxu/L1oWS2IjiwSMrIkSOx 5dgkuSUDBIfX67355pvxVrJMxDYOGiypVGrlypXz5s3DmeOeE1RkWgduvfXW3bt3o/U061iU/+2z cDEYVzw0jiK23Nsg/9bhw4cdx/n2t7+NkWnyEx2zcVFO6uFOk6zXnH/++Z9//nnePxEGhm/evFlk FlXKKvFh4wcOjrq6One2lkBxwzkJgyN3tO9wbYncAHmPCZ6JRqPvvvvu3LlzcTjKvlXcFYKj9ppr rvn000/x67gkFouWlhZ5y4y8bp/AfWvuaz7e8Gtf+9qXX37pZLpCZGft8Vze+7ttxDCM9vb2Cy+8 EH9ugM5Xd4ULMYehot/73vfwVnLQXd47gIZFyQZHVsXe6b9p0LIsd/ck7t3oc+S1W59/VNZg0cWA kdqGYaCPA6yjoXSNrj7Hcd54443a2lpc0EaMGIELWiAQqKysxAl2+eWXr169Gn9OtvnnvU/hq7P7 0dXV9cgjj+AE++qTa2D/oMIihJg5c2ZDQwM2wF1tyR3iLfd/IpGQ37V7dBa+O8dxfvOb37j/1sCy 7gzy+/0Y8OoOixKopzglHBwSjobcUz3r/EfrQNZrcAwhcXAFQ2m8v+/+xMov+K133333kksu8Xg8 8mbWrObD2traNWvW4KZ1uXnuAnBBsfrhOE5LS8vEiROFq4R/nAO33dyVF0zwgcfnn3/+kiVL/vGP f3z66ae7du3atWtXT0+P/PoG/prc+YJiy1133SUyFRM5RqY/7vtxsHm1tbWOawiZUyqp4ThOyc7H kUwm5cABcDJjDeTdE47jWJaFHkFMmoBDBw34mLupz/XKbNvGBBO6ricyMNnkoUOHcPt5PB6PxWLx eFzX9VQqJe9bTSaTuGMdh2YsFhs9enRbW1t9fT3myHB/ivLy8nQ6nUwmR4wYcdZZZ02dOnXPnj3l 5eVYW9C2bUwMg2UNhnDvnjjLsvx+/8aNGxOJBFZaxW4/sXdD6w+WL5GzgZSXl8diMSFEIBDQNG3c uHFVVVWYnai6uvqUU04ZPXr06NGjq6ury8rKxo4dW1ZWVl5eXlFRgVqhaZqdnZ0bN2586KGH2tra hBByTtZwOIzpiHPJAwYnVCAQSKfTDz/88KOPPtrb2yvrm3Zm+pJimbCnPyUbHG5OZoptx3FwKbAz k9/J7+9/OZp5xrbt3t7eWCzW2dmJfzsyurq64vF4a2uraZpIB6QGysZ+v9/JrAng/jd3PyOevF6v nFYHz5eXlxuGEQ6Ho9GoEEL+CBPhRiKRRCKBV8ofyYktCx82VX4KXKVzZwk7HpiPL+vJsrKyeDyO Afiydwk/0jLzrduZeYbw33A4HIlEKisrR40aFQgEenp62tvbOzo6EATYYE3TwuGw3PP9wVQ9uN5Y lvXaa6/ddNNNlmVhY2Q7iFU866f0p0imG1Iny8ZyBip8VWj2F5lW/Wg0un///o6ODhwre/bsaWlp OXToUGdnZ3d3dywWi0ajfV4PMZNVVhzIKTbdzwDmCnZyVma2MkuxYtou3FEihJDLC+AFuNfD7/fj Qo0XoxwkiupAxGfHoi2odtm2rfWzcNHA3HN8yDpCPB4XQmAqM3wXcv5BORJEXvPxwDCMRCLR2dnZ 3NwsC5iY3AzVUsz91+dyB+6NkcV4kZnSGVOxyrmdMXWYU4QzjOYq+uDo74CTY6VA1/Xu7u6enp6m pqbW1tbGxsampqaDBw92dXV1d3djceCsCxHe2f0+sgojXHN8yx9lPcgqa+QWcWXh1uPx4MqJKULl keeeChhtdXIKX3mldW9qUfB6vShuIBnlTj6BQgeWhscZLr+OYDCIfYX/oisK57y8AMg5+2SIo+FZ FkZQb02n0yjlHc+24SPILwJFj+bmZvwhzBeNHxXRGggDKPrg6E9jY2NbW9uOHTsaGxubm5v37dvX 2tp6+PDhAX7FPTxRHgHu4sYAVXG7/xU0+iNPeCczLThKufLaheISDjuRyQj31soD/cSu2MMCfVhY jRkrLZ9YVQWlAKz/IDL5jj4svDmu+WgTzVrAQe4r9553v7mTmQc0mUz6/X40Qg/8FcuINwwDMZRK pTZv3uxkpoN250UxzS3aj0E/4Nz7yM6ZCDcrfQfeoZg1F8U/+QxK74cOHdq7d29DQ8Nnn332+eef t7a27tu3L+vX5ZW8zzc/gTOfKBcOMPlvXV0dJjTPbVx3XKtnWpaFm+WKpdF0iK5UsiqraZosBMqf yoU/hBC4jMgdKn/LXe+IRqN79+5tbGxsaWnZsGFDW1tbc3Nzd3e3EALR7r6GZH3AYrkyU5FyB4cQ 4uKLL/7ggw+EELJvRaaG7VoQU3bzMTj+B21CufW6ZDLp8XiOvwN/7969zc3NdXV1dXV1DQ0N+/fv x7Qo8gWezOLpKPdmfQHMCxpK8vALBoNXXnnlypUrRaaAPEC5u4gauYeoxCHHUNi2jZuj3T/FqS5X 8cLrdV1vaWmpq6tbv3799u3bP//8czRx//+mZ6Id+93d0OXz+TDsbwg+GlF/ZNXjsssue+WVV6ZM mZJIJDBWLSsj7GJbz23QgwPVjazZ4vCMe+UuIYTjOMlksqGhYdu2bR988MGmTZtaW1vRyoX+BZkU sv0yq1kLdZwTGxRANEgwGmDkyJFLly69/PLLA4EAiuGapqHhFoe3bdtZ8xUVskEPDndJDONtcdoj R7DLmpqaPvnkk3Xr1m3ZsmXHjh19bhKqIblNmHKcz6B+CqITgw4dNNKl0+nHH3/817/+tTwj0MWO vCiurpah68bL2kexWOzf//73u+++u2HDhoaGhkQigSFVskEEVRvhGkp81HYf3QGJt82tyLC2QkOj z0ZNHH5y7dgRI0b09PRcddVVL7300ogRIzA1icyLImrgEENT4sADxEFra+t77723bt26NWvWRKNR OVAnGAxqmpY1OM998ruTwv08bgrIHbvl/iLdn7G/4TfsjqWvQnaL5P7IcZxQKIRpXzEifurUqcuW LZs9e3ZFRYXMi9zRCYUsb8HhbtcUQqD+Jpfn3bZt27p16956660NGzbgNidWLuhk5jjO7373u/vu uy8cDmcVOkzTRO8B6ubyJBruTT5KPksc6NfAfUFCiGQyqev6qlWr3nnnnfXr1/f29paVlWH4BmsQ dJILBAJ79uy54447Fi9eXF1djZ5aGRmJRCJ3Gc2Cks/gkMEZjUbLy8s9Ho+u652dnbqujx8/XggR j8eDwWA6nQ4GgwPfMkRU2jBiwDAMNHaggR+D5d0L0Oi6jjskh3FT+5Tn4JBzmaDQhTvNMS8G1jcP hUJF12VNlHfyKotOANzujGkTRKa30TAM/FeWRApHnhtHY7FYWVmZpmmYqMY9NxzafnAjYzAYZG2F TmaapnV1dYVCobKyMsMwMNZDJoht2+4bsgZe82lY5C043L3QGB7X29u7evVqWWdB2zJ2SiAQOOFJ n4hKQCKRGDNmjGVZ8XgcPYOYxm3ixIlz5szxer2xWAz3tsTjcTm9cwFx8kdOD4uYaG9vv+2221Bh C4VCBVhPIyocmKnU4/G88MILmGBBLtzZ3ySpwyjPVZVEIhEOhzHuG3OZLFy48MUXX0Trhq7rmMSl iEbIEQ0G3AWOx/K+cCFEMBjUdf2GG25YvHjx5MmT0VZYiINKBzuZUqnUI488gsYOrHgqhMAKoLLa JndKwe0doiGHRa1nzZq1du1a5+h1HuRE/FbOYn1DbIiWR3j66aerqqpyayvhcFje2MN+FiJcO9E1 WV5e/uSTT+L+t0QiIddYkIZxsYVBD450Oo2lxtasWYPB+RUVFbhpxb0IKB4wO4gqKipCoVAgEMB5 cf3113d1dcmzSS4ANLwNH4MeHChoIS9bWlouvPBCkZmVFw/ket9FdE8x0RDAAKiysrJJkyZ9+OGH WL5bnlMlXlWRq2NhvaJEInHXXXdh5vis3YS1MIblGyIqHFgKAxO445lQKBSJRJ5//nkns9wnsiOZ TA72+dufoWjjkKsiy9milyxZUlZW5vf7w+EwFgEXAy75TXRScfcSYEQlHl977bW9vb0oergbTYfe 0K0di9UPncyy7I2Njai2yCU5ESVD/yURFRrc4YYmUqTGqFGj8N+amprNmzejIC8rL0NvKILD3faL x1g81XGcJ554Ag2i6IIiOsn1We6WnQaoy/v9/ueff969RPbQG7bV6k3TRIhs3rz54osvxk6RjaYe j0e2dyBoZeHNvSIWe2Ho5CFn28TjW2+9tb29XZ5QaBAYshbTYQsOiMVijuNYlvXCCy+MGzdOCJHV btpfAGMh8qH6yoiGn6y5oFnQ5/OdeeaZmzZt0nVdNiMOWR/tcAYH2oflg+bm5ltuuQV7BOHqXrTN 7/eHQqGsoaUcaUonCfe5gLta8LisrGzp0qWO42B2D5xQQ9DbMswlDgxocTeCfPzxx3PnzhWuUWFZ fbTuZZzYmEonFXf1HEM8cApcffXV6XQaU3gMzZk7bMGRVabCWsRIEMuy/vSnP02fPl3ur2AwKBuZ RWb9lKH/2oiGF3pb3Ae/x+PBjWCTJ0/etm2bk7k3fbANZ4kDk5LiMeZBwmM0fMRisaeffnry5MlC CKyZgIF0cpexuEEnD8z04/6vO0GQHZWVlS+99JIzJEM8hrmqAnLeAbBc2traFi1aFA6HZaVODhgr tMnUiAaVz+eTZ4F7XXtM8yOrMK+99toQ9K0MW3DIXmjZwIFKmvzM7uc7OjruvffeSZMmCVeDKEsc dHKSp4AMC1xEKyoq0CD4ySefDPb5WxAljuNh2/aePXseeugh9NrKbnMknQQAAAonSURBVBfsOHcp Ti4xK5+RUygTlRj3dRQnRUVFRU1NTTwel/fCDUYBpGiCA+URy7J27969ePHiadOmuXeWG2ICz8u1 7AGTOBKVDPd4SPlkKBR67bXXZJldlu7zONi0aILD3XrqOI6u68uXLz/rrLOwvzweD0adZhU0ssbq EpUe92EvD/h58+bJmTuQF7jFNF/nY9EEh+M4sVgMO6K3txc9L7Zt//Of/7zuuuuQC1iAVgiBeVDk 3pSVFzaLUOlxXywDgQDaOyKRSEtLC84X97/5UkzBkUuOkNu2bdu99947YcIEuR+9Xq97XCnHfVBJ wswdWU/iGazTLPPiJA0O3E3rOA5m9DAMQ6aGrMsdPnx4xYoV3/3ud+V9caFQCKUMTIviXiCKqJRg aQU8xgjJFStW2LaNE8e27ZO0qiKDo8+b9OPxuHxBb2/vzp07H3zwwVmzZmE/lpWVyaaQYftiiQaT 1+tFXqC9Twjx+uuvyxNHNnPk63wsmuBwQwEsd60awzDcrUFHjhxZtWrVggULqqqqskadEpWG3KEG subyzjvvOIM2QWmeF2QqHFiqFg927979/vvvv/HGGxs3bsTSkyjXoX8Xr8fu7nNvoBqJhBrCT0B0 vMLhsK7r5eXlsVhMCOHz+QKBwM6dO8eMGYN1Z23bzh3f9JXkN4cKRzqdNgzDPWj/yJEj+/bte/jh hzFlocjcMuS+YVnkjBzL2l0cS0aFBkev+54Mj8dzwQUXHDlyxDl6HEMeyx0lGxxOZpfJkWOpVAo5 ouv61q1bFy1aNHv2bLn35eJyucGBhlX20VBhkgdtdXW1vKo999xzcvkVefnMY3CUclXFXfuQO9Qw DDlUzLKsL7/88s0333z77bfr6+uxeCemIEMTNMp4sjqDZEEDyjB9LKI++P3+VColhKisrIxGozNm zPjwww/HjRuXSqX8fr+studTvhKoYKElNZVKoejhOI5t27qu67qOOZMRw42NjS+++OJFF12UtU5l 7j24HEhGhUMerljsHQ/QnyLn9RmMJe9LtsRhWVbWjSoiUwzJqmg4mRth8B0cOHDgX//61zvvvLN+ /frm5mZN0xzH0TQtFAp5vV7TNE3TFP3XVkp1f1Jh8ng8tm3jcSQSsW37nnvueeqpp1BMxgh0LHkv hMCRnJe/W7LBARgtJlyNmoZhYHw6Gj7cBQrbtlOpFLrBbds+ePDg/v3733jjjc8++6yuru7IkSN4 Gd5K1l+ylPb+pALk9XrlZfKxxx5buHAh6te5a7wzOI4tdx+hiIWEtm1bNnbilbIemBvVqVSqtbV1 69at77///oYNG3bv3p1MJvv7AmT8Ew2BYDCICvjkyZOff/75K6+80uPxoGlDCIELYVa5Iy9KNjjy xTRNudoL/rtjx44vvvjio48+2rJly/bt25PJpM/nQ8MqpjhEQg3SuA9891lvjvqU+2VaRn8lIxp2 WUOHcr8yNMbj0BJH10rki23bjkQiCxcufPDBB8PhMCLDNM3Bnh+PwXFc0LzqHvGB0uDBgwfr6+s/ +uij+vr6L7/8sqOjw32iYq43hAgOCPdPcSlAY7jo6zDCg/6+oON8PXuOC5PSeScrI0IITdPwX8dx AoHA7bfffvfdd8+cOTORSGDcVzqdHoJlQxgcx+D+GpD3uLzbtu31elHrQbGwq6ursbFxy5YtTU1N W7Zs+eKLLw4fPoxfdJcIZGsLvvs+SxADkCUa+Yy88uTtM9PQyho34C5WyK9b1qbx34qKiltuueXu u++eMWOGx+PRdR1XNcdxOjs7R48ePejbzOA4Juwi+e3ie02n05jyA02qwrWOlBDCNM2enp59+/Zt 27atvr6+ubl5+/btiUQiFovhxVmVC5RN8CQKJjhEhOvSJA+gAb4yeVGSv8txroUJpYaB4x7XGNnA DzU1NTfddNMPf/jDM844QwiRTCYxDY1lWfF4HGsw57ERtD8MjmNDrQQndtaPUqmUbNfAT3H3nXDN P4YvPpVK7d+/v6GhobGxsbm5ubm5ec+ePe3t7YlEApO8Z72zPPlx2cH5j55jkTmk8HflWDX5u/xO i4hMB3F0cVJ+vxhnNGXKlPnz51933XXz58/HDJiGYeBaheHRsg9FdgIM6mYzOI4hnU7L9Z+czI38 CIXc7+aYDdfuMXy9vb29vb379u07dOhQU1NTc3NzW1vbgQMH2tvbo9FoPB6XEyiIzNEghAiFQjhQ 8CZyrIpMLu1obBwtTPhCMd2UHBWOH+EOTAwXmjFjxlVXXTV//vzZs2efeuqpXq/XMAzLsuRwL1mV xrGHC8kQ3FHF4DheKHe45zEVR9diRF+jztwXENw7kzvw1F2wtG0bEyPu2rUrFot1dna2t7cfPHjw 0KFDnZ2dsVisvb1d1/Xe3t5EIoFrEX4xEAjYGe43Z+NowZIHj/wSQ6HQlClTxo0bd/bZZ8+dO/cb 3/jGpEmTcOSg9JFMJuU6TDIycBeFu9g7BBgcx5A76s5xHNM0s2Y/Nk0TM6kc59u6E0cGiqwNuf+W +1DAIGLTNHVdTyQS8Xg8Go1Go9FEItHT05NOp7E4nq7rcig9LlxUaPDNhsPhqqqqkSNHjh49euLE iePGjRs7dqx77n7ZHp9KpdDDmnWtEkfXTdwXqkHdfgZHgeqviqF6QLDEUVwG7n0vHAyOItPf98Xu 2NLQ34WBwUFfCb+v0lZoAdEfBgcRKePoICJSNuhj2mlosORYGlhVIaKSxRJHiSiWbjwqDSxxEJEy No4SkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQ kTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIG BxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEp Y3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQ kTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIG BxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEp Y3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQ kTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIG BxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEpY3AQkTIGBxEp Y3AQkTIGBxEpY3AQkTIGBxEpY3AQkbL/AxaBLYbKIbuJAAAAAElFTkSuQmCC "
       id="image271"
       x="-104.1444"
       y="117.11955"
       transform="scale(-1,1)" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.14428;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 67.69716,127.80376 c 0.31299,0.18396 0.58487,0.39579 0.93896,0.55188 0.56741,0.25013 1.97442,0.3406 2.68274,0.23652 0.45094,-0.0663 1.07596,-0.28983 1.47551,-0.3942 0.41506,-0.10843 0.87784,-0.2006 1.20723,-0.3942"
       id="path528" />
    <use
       id="use532"
       inkscape:spray-origin="#path528"
       xlink:href="#path528"
       transform="translate(-13.37483)"
       style="opacity:0.9;stroke-width:0.529167;stroke-dasharray:none"
       x="0"
       y="0" />
    <use
       id="use594"
       inkscape:spray-origin="#path528"
       xlink:href="#path528"
       transform="translate(-6.47201)"
       style="opacity:0.9;stroke-width:0.529167;stroke-dasharray:none"
       x="0"
       y="0" />
    <use
       id="use598"
       inkscape:spray-origin="#path528"
       xlink:href="#path528"
       transform="translate(6.9954)"
       style="opacity:0.9;stroke-width:0.529167;stroke-dasharray:none"
       x="0"
       y="0" />
    <use
       id="use600"
       inkscape:spray-origin="#path528"
       xlink:href="#path528"
       transform="translate(14.0285)"
       style="opacity:0.9;stroke-width:0.529167;stroke-dasharray:none"
       x="0"
       y="0" />
    <use
       id="use602"
       inkscape:spray-origin="#path528"
       xlink:href="#path528"
       transform="translate(20.68774)"
       style="opacity:0.9;stroke-width:0.529167;stroke-dasharray:none"
       x="0"
       y="0" />
    <use
       id="use604"
       inkscape:spray-origin="#path528"
       xlink:href="#path528"
       transform="translate(34.19191)"
       style="opacity:0.9;stroke-width:0.529167;stroke-dasharray:none"
       x="0"
       y="0" />
    <use
       id="use606"
       inkscape:spray-origin="#path528"
       xlink:href="#path528"
       transform="translate(27.59415)"
       style="opacity:0.9;stroke-width:0.529167;stroke-dasharray:none"
       x="0"
       y="0" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.133076;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 54.27904,129.39112 h 54.31988"
       id="path1354" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.133663;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 53.79868,131.03944 h 54.79963"
       id="path1356" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.133914;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 53.6156,132.6459 h 55.00524"
       id="path1358" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.133662;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 53.66126,134.3146 h 54.79963"
       id="path1360" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.133496;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 53.79851,135.85196 h 54.66255"
       id="path1362" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.132656;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 54.30139,137.46518 h 53.97722"
       id="path1364" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.132404;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 54.32393,139.13428 h 53.77161"
       id="path1366" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.131726;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 54.46065,140.70624 h 53.22333"
       id="path1368" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.129933;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="M 55.09999,142.3474 H 106.8841"
       id="path1370" />
    <path
       style="opacity:0.9;fill:none;stroke:#000000;stroke-width:0.129157;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       d="m 55.2138,143.88476 h 51.16733"
       id="path1372" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.63213px;font-family:Georgia;-inkscape-font-specification:'Georgia, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;opacity:0.9;fill:#000000;stroke:none;stroke-width:0.605359;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stop-color:#000000"
       x="63.598602"
       y="149.34097"
       id="text1696"
       transform="scale(0.99645868,1.0035539)"><tspan
         sodipodi:role="line"
         id="tspan1694"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.63213px;font-family:Georgia;-inkscape-font-specification:'Georgia, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#000000;stroke-width:0.605359"
         x="63.598602"
         y="149.34097">DEPTH INDICATOR</tspan></text>
    <g
       id="g2699"
       transform="matrix(1,0,0,1.8501172,20.76877,-104.55573)">
       @rectangles
     </g>
  </g>
</svg>

    <img class="lens" src="/images/widgetlens.svg" />
</div>

@code {

    [Parameter]
    public float Depth { get; set; } = 0;

    Dictionary<int, List<int>> DepthScales = new Dictionary<int, List<int>>();
    Queue<float> depths = new Queue<float>();
    MarkupString rectangles;

    //Start Graph position
    int barWidth = 1;
    int barCount = 50;
    int barHeight = 8;
    int xPosition = 35;
    int yPosition = 126;

    protected override void OnInitialized()
    {
        int scale = 1;
        //Create table for dynamic scaling
        for (int i = 1; i <= 4; i++)
        {
            List<int> ints = new List<int>();
            for (int j = scale; j <= 10 * scale; j = j + scale)
            {
                ints.Add(j);
            }
            DepthScales.Add(i, ints);
            scale = scale * 10;
        }
        for(int i =1;i <= barCount;i++)
        {
            depths.Enqueue(0);
        }
    }

    protected override void OnParametersSet()
    {
        //Push the new depthvalue into the graph
        depths.Enqueue(Depth);
        //Drop the oldest value 
        if (depths.Count > barCount) depths.Dequeue();
        //Select the Scale based on the Max Depth in this set.
        int scaleMax = DepthScales[DepthScales.Where(s => s.Value.Max() > depths.Max()).First().Key].Max(); ;
        //Set the scale factor for the Depthmap
        float factor = barHeight / (float)scaleMax;
        int height = (int)barHeight;
        int position = (int)xPosition;

        //Build Rectangles markup
        StringBuilder sb = new StringBuilder();

        foreach (var depth in depths)
        {
            int scaledDepth = (int)(depth * factor);
            sb.Append($"<rect style=\"fill:#800000;\" width=\"{barWidth}\" height=\"{barHeight - scaledDepth}\" x=\"{position}\" y=\"{yPosition + scaledDepth}\" />");
            position = position + barWidth;
        }
        rectangles = new MarkupString(sb.ToString());
    }
}
